<a href="https://colab.research.google.com/github/shilphypg/MAHE_MSc.DS/blob/master/pandas_Intro.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Intro to Pandas


    Pandas
        - Open Source

        - Python library

    Pandas is used to
    
            Preprocessing
            Manipulation
            Analyze data
            Visualize

          pandas
              - fast
              - powerful
              - flexible
              - easy  use open source data analysis and manipulation tool,

    Preprocessing

    Data preprocessing is a data mining technique
    
    Involves transforming raw data into an understandable format
    
    Real-world data is often incomplete, inconsistent, and/or lacking in certain behaviors or trends, and is likely to contain many error
    
    proven method of resolving such issues
    
    Prepares raw data for further processing.

      Incomplete: lacking attribute values, lacking certain attributes of interest, or containing only aggregate data
      
      Noisy: containing errors or outliers
      
      Inconsistent: containing discrepancies in codes or names

    Tasks in data preprocessing:

    Data cleaning: fill in missing values, smooth noisy data, identify or remove outliers, and resolve inconsistencies.
    
    Data integration: using multiple databases, data cubes, or files.

    Data transformation: normalization and aggregation.

    Data reduction: reducing the volume but producing the same or similar analytical results.

    Data discretization: part of data reduction, replacing numerical attributes with nominal ones.

# Contents

        Introduction to Pandas

        Data Structure
            Series
            DataFrames
        
        Missing Data
        GroupBy
        Merging,Joining,and Concatenating
        Operations
        Data Input and Output

# Series


 one-dimensional labeled array and capable of holding data of any type (integer, string, float, python objects, etc.)

A Series is very similar to a NumPy array (in fact it is built on top of the NumPy array object). What differentiates the NumPy array from a Series, is that a Series can have axis labels, meaning it can be indexed by a label, instead of just a number location.

collection of rows and columns  - dataframe
Example:  a 23 Udupi Datascience  
          b 21 Manipal CyberSecurity

Series
collection of rows
a
b
c
d
a
j
h
b

#import packages

In [47]:
#import libraries
import numpy as np #for checking arithmatic operations
import pandas as pd #for data manipulation and analysis
print('pandas version', pd.__version__)

pandas version 2.1.4

In [48]:

import sys
print(sys.version)

3.10.12 (main, Jul 29 2024, 16:56:48) [GCC 11.4.0]

# Creating a Series


      You can convert a list,numpy array, or dictionary to a Series:

Creating a Series can be done by 3 methods

          1.we can convert a list into series
          2.we can convert a dictionary into series
          3.we can convert a numpy array into series

LIST INTO SERIES

In [3]:
from pandas import Series,DataFrame
S=Series([1,2,3,4,5]) #creating a list in [] and converting into series, here we are using default index
S

0    1
1    2
2    3
3    4
4    5
dtype: int64

to create series with customized index

In [4]:
from pandas import Series,DataFrame
S=Series([1,2,3,4,5],index=['a','b','c','d','e']) #creating a list in [] and converting into series
S

a    1
b    2
c    3
d    4
e    5
dtype: int64

In [5]:
type(S)

pandas.core.series.Series

In [6]:
print(S.index)

Index(['a', 'b', 'c', 'd', 'e'], dtype='object')

DICTIONARY INTO SERIES

In [9]:
#dictionary
d = {'a':10,'b':20,'c':30} # we are converting dictionary into series:it has a pair of(key:values)
s=pd.Series(d)
s

a    10
b    20
c    30
dtype: int64

In [10]:
dic = { 'Id': 1013, 'Name': 'Amith',
       'State': 'Manipal','Age': 24}

res = pd.Series(dic)
print(res)
type(res)

Id          1013
Name       Amith
State    Manipal
Age           24
dtype: object

pandas.core.series.Series

In [56]:
# create using list
# store characters
list = ['g', 'e', 'e', 'k', 's']

# create series form a char list
s= pd.Series(list)
print(s)

0    g
1    e
2    e
3    k
4    s
dtype: object

In [12]:
# to check whether it a dataframe or series
type(s)

pandas.core.series.Series

In [13]:
# check the datatype stored in the object
s.dtype

dtype('O')

In [14]:
# create using List
# To store numeric
# add labels

labels = ['a','b','c'] #creating labels
my_list = [10,20,30] #creating my_list

In [15]:
#Using Lists

pd.Series(data=my_list) #converting list into series with default index

0    10
1    20
2    30
dtype: int64

In [16]:
pd.Series(data=my_list,index=labels) #converting list into series with customized index

a    10
b    20
c    30
dtype: int64

NUMPY ARRAY INTO SERIES

In [17]:
# create series using numpy array
arr = np.array([10,20,30]) #creating numpy array using list

In [19]:
#NumPy Arrays

s=pd.Series(arr) #converting numpy array into series with default index
s

0    10
1    20
2    30
dtype: int64

# Concat series

CONCATANATION IS USED TO ADD A VALUES TO SERIES

In [57]:
# add an element to series
# append a single value
s = pd.concat([s, pd.Series([40])]) # FIRST CONVERT LIST INTO SERIES AND THEN CONCAT

In [58]:
s

0     g
1     e
2     e
3     k
4     s
0    40
dtype: object

In [170]:
# append a list of values
s = pd.concat([s, pd.Series([50,60,70])])
s

1     g
2     e
3     e
4     k
5     s
6    40
7    50
8    60
9    70
0    50
1    60
2    70
dtype: object

In [61]:
s.index = [1,2,3,4,5,6,7,8,9]

In [64]:
# pd.Series(arr,labels)
S=pd.Series(s,s.index)
S

1     g
2     e
3     e
4     k
5     s
6    40
7    50
8    60
9    70
dtype: object

# Create a Series ("your fav. places") called favcities
# add few more cities to favcities

In [118]:
mylist=['kollam','kochi','kannur']
mylist

['kollam', 'kochi', 'kannur']

In [119]:
u=pd.Series(mylist)
u

0    kollam
1     kochi
2    kannur
dtype: object

In [120]:
u.index=[1,2,3]

In [121]:
u=pd.Series(u,u.index)
u

1    kollam
2     kochi
3    kannur
dtype: object

In [122]:
# append a list of values
u=pd.concat([u,pd.Series(['Trivandrum','Chennai','Kolkata'],index=[4,5,6])])
u

1        kollam
2         kochi
3        kannur
4    Trivandrum
5       Chennai
6       Kolkata
dtype: object

# add an element to series

In [141]:

fruits = pd.Series(["apple", "banana", "orange"])

# insert new element with a fractional index
fruits[1.2] = "pear"
fruits

0.0     apple
1.0    banana
2.0    orange
1.2      pear
dtype: object

In [142]:
fruits = fruits.sort_index().reset_index(drop=True) # sort and reset index
fruits

0     apple
1    banana
2      pear
3    orange
dtype: object

In [139]:
fruits = fruits.sort_index().reset_index(drop=False) # sort and reset index
fruits

   index       0
0    0.0   apple
1    1.0  banana
2    1.2    pear
3    2.0  orange

In [125]:
fruits = pd.Series(["apple", "banana", "orange"])

# insert new element with a fractional index
fruits[1.1] = "pear"

# sort and reset index
fruits = fruits.sort_index().reset_index(drop=True)
#fruits = fruits.sort_index().reset_index(drop=False)
fruits

0     apple
1    banana
2      pear
3    orange
dtype: object

# Drop element from the series

In [156]:
# Truncate the Series to get a new Series
# Create a pandas Series

series      = pd.Series([10, 20, 30, 40, 50, 60, 70, 80, 90, 100]);
series

0     10
1     20
2     30
3     40
4     50
5     60
6     70
7     80
8     90
9    100
dtype: int64

In [146]:

newSeries   = series.truncate(4, 8, copy = True); #to create a subset of series
newSeries

4    50
5    60
6    70
7    80
8    90
dtype: int64

In [148]:

newSeries   = series.truncate(4, 8, copy = False); #to create a subset of series
newSeries

4    50
5    60
6    70
7    80
8    90
dtype: int64

In [149]:
# drop one element
newSeries = series.drop(6)
newSeries

0     10
1     20
2     30
3     40
4     50
5     60
7     80
8     90
9    100
dtype: int64

In [150]:
# drop multiple elements
newseries  = series.drop([6, 8]);
newseries

0     10
1     20
2     30
3     40
4     50
5     60
7     80
9    100
dtype: int64

In [155]:
# drop range of elements
newseries  = series.drop(range(6,8));
newseries

0     10
1     20
2     30
3     40
4     50
5     60
8     90
9    100
dtype: int64

In [159]:
#df.drop(df.index[3:5])
newseries  = series.drop(range(3,5)); #delete 3rd but not 5th
newseries

0     10
1     20
2     30
5     60
6     70
7     80
8     90
9    100
dtype: int64

# Modify the element in series

In [160]:

fruits = pd.Series(["apple", "banana", "orange"])

# insert new element with a fractional index
fruits[1] = "pear"
fruits

0     apple
1      pear
2    orange
dtype: object

# Operations using two series

In [166]:
# creating a series
data = pd.Series([5, 2, 3,7], index=['a', 'b', 'c', 'd'])
data

a    5
b    2
c    3
d    7
dtype: int64

In [167]:
# creating a series
data1 = pd.Series([1, 6, 4, 9], index=['a', 'b', 'd', 'e'])
data1

a    1
b    6
d    4
e    9
dtype: int64

In [165]:
#data.add(data1, fill_value=0)
data.add(data1)

a     6.0
b     8.0
c     NaN
d    11.0
e     NaN
dtype: float64

In [161]:
# creating a series
data = pd.Series([5, 2, 3,7], index=['a', 'b', 'c', 'd'])

# creating a series
data1 = pd.Series([1, 6, 4, 9], index=['a', 'b', 'd', 'e'])
#data.add(data1, fill_value=0)
data.add(data1)

a     6.0
b     8.0
c     NaN
d    11.0
e     NaN
dtype: float64

In [168]:
# subtracting two series using
# .sub
data.sub(data1, fill_value=0)

a    4.0
b   -4.0
c    3.0
d    3.0
e   -9.0
dtype: float64

# Access Series

In [171]:
#retrieve the first element
print(s[:5])

1    g
2    e
3    e
4    k
5    s
dtype: object

In [172]:
# accessing a element using index element
print(s[2])

2     e
2    70
dtype: object

# create series through dictionary

dtypes

In [173]:
S=Series(['1','2','3','4','5'])
S
S.dtype

dtype('O')

In [174]:
S=S.astype('int')
S.dtype

dtype('int64')

# Index

The key to using a Series is understanding its index. Pandas makes use of these index names or numbers by allowing for fast look ups of information (works like a hash table or dictionary).

# Dataframe

Creating DataFrame

In [180]:
data = [('Boat', 1), ('Car', 55), ('Bike',99), ('Truck', 43)]

df = pd.DataFrame(data, columns=['thing', 'count']) #eg 1 of creating dataframe

In [176]:
df

   thing  count
0   Boat      1
1    Car     55
2   Bike     99
3  Truck     43

In [177]:
# dictionary of lists
dict = {'Name':["Aparna", "Binay", "Chaithra", "Pinky"],
        'degree': ["DataAnalytics", "CyberSecurity", "InformationScience", "InformationScience"],
        'score':[90, 40, 80, 98]}

df = pd.DataFrame(dict)

print(df)

       Name              degree  score
0    Aparna       DataAnalytics     90
1     Binay       CyberSecurity     40
2  Chaithra  InformationScience     80
3     Pinky  InformationScience     98

In [178]:
# initialise data of lists.
data = {'Name':['Aparna', 'Binay', 'Chaithra', 'Pinky'], 'Score':[90, 40, 80, 98]}

# Create DataFrame
df = pd.DataFrame(data)

# Print the output.
print(df)

       Name  Score
0    Aparna     90
1     Binay     40
2  Chaithra     80
3     Pinky     98

In [179]:
Name= ['Aparnna', 'Binay', 'Chaithra', 'Pinky']

# Calling DataFrame constructor on list
df = pd.DataFrame(Name)
print(df)

          0
0   Aparnna
1     Binay
2  Chaithra
3     Pinky

create dataframe using zip

In [181]:
help(pd.Series.loc)

Help on property:

    Access a group of rows and columns by label(s) or a boolean array.

    ``.loc[]`` is primarily label based, but may also be used with a
    boolean array.

    Allowed inputs are:

    - A single label, e.g. ``5`` or ``'a'``, (note that ``5`` is
      interpreted as a *label* of the index, and **never** as an
      integer position along the index).
    - A list or array of labels, e.g. ``['a', 'b', 'c']``.
    - A slice object with labels, e.g. ``'a':'f'``.

      .. warning:: Note that contrary to usual python slices, **both** the
          start and the stop are included

    - A boolean array of the same length as the axis being sliced,
      e.g. ``[True, False, True]``.
    - An alignable boolean Series. The index of the key will be aligned before
      masking.
    - An alignable Index. The Index of the returned selection will be the input.
    - A ``callable`` function with one argument (the calling Series or
      DataFrame) and that returns valid output for indexing (one of the above)

    See more at :ref:`Selection by Label <indexing.label>`.

    Raises
    ------
    KeyError
        If any items are not found.
    IndexingError
        If an indexed key is passed and its index is unalignable to the frame index.

    See Also
    --------
    DataFrame.at : Access a single value for a row/column label pair.
    DataFrame.iloc : Access group of rows and columns by integer position(s).
    DataFrame.xs : Returns a cross-section (row(s) or column(s)) from the
        Series/DataFrame.
    Series.loc : Access group of values using labels.

    Examples
    --------
    **Getting values**

    >>> df = pd.DataFrame([[1, 2], [4, 5], [7, 8]],
    ...      index=['cobra', 'viper', 'sidewinder'],
    ...      columns=['max_speed', 'shield'])
    >>> df
                max_speed  shield
    cobra               1       2
    viper               4       5
    sidewinder          7       8

    Single label. Note this returns the row as a Series.

    >>> df.loc['viper']
    max_speed    4
    shield       5
    Name: viper, dtype: int64

    List of labels. Note using ``[[]]`` returns a DataFrame.

    >>> df.loc[['viper', 'sidewinder']]
                max_speed  shield
    viper               4       5
    sidewinder          7       8

    Single label for row and column

    >>> df.loc['cobra', 'shield']
    2

    Slice with labels for row and single label for column. As mentioned
    above, note that both the start and stop of the slice are included.

    >>> df.loc['cobra':'viper', 'max_speed']
    cobra    1
    viper    4
    Name: max_speed, dtype: int64

    Boolean list with the same length as the row axis

    >>> df.loc[[False, False, True]]
                max_speed  shield
    sidewinder          7       8

    Alignable boolean Series:

    >>> df.loc[pd.Series([False, True, False],
    ...        index=['viper', 'sidewinder', 'cobra'])]
                max_speed  shield
    sidewinder          7       8

    Index (same behavior as ``df.reindex``)

    >>> df.loc[pd.Index(["cobra", "viper"], name="foo")]
           max_speed  shield
    foo
    cobra          1       2
    viper          4       5

    Conditional that returns a boolean Series

    >>> df.loc[df['shield'] > 6]
                max_speed  shield
    sidewinder          7       8

    Conditional that returns a boolean Series with column labels specified

    >>> df.loc[df['shield'] > 6, ['max_speed']]
                max_speed
    sidewinder          7

    Multiple conditional using ``&`` that returns a boolean Series

    >>> df.loc[(df['max_speed'] > 1) & (df['shield'] < 8)]
           max_speed  shield
    viper          4       5

    Multiple conditional using ``|`` that returns a boolean Series

    >>> df.loc[(df['max_speed'] > 4) | (df['shield'] < 5)]
                max_speed  shield
    cobra               1       2
    sidewinder          7       8

    Please ensure that each condition is wrapped in parentheses ``()``.
    See the :ref:`user guide<indexing.boolean>`
    for more details and explanations of Boolean indexing.

    .. note::
        If you find yourself using 3 or more conditionals in ``.loc[]``,
        consider using :ref:`advanced indexing<advanced.advanced_hierarchical>`.

        See below for using ``.loc[]`` on MultiIndex DataFrames.

    Callable that returns a boolean Series

    >>> df.loc[lambda df: df['shield'] == 8]
                max_speed  shield
    sidewinder          7       8

    **Setting values**

    Set value for all items matching the list of labels

    >>> df.loc[['viper', 'sidewinder'], ['shield']] = 50
    >>> df
                max_speed  shield
    cobra               1       2
    viper               4      50
    sidewinder          7      50

    Set value for an entire row

    >>> df.loc['cobra'] = 10
    >>> df
                max_speed  shield
    cobra              10      10
    viper               4      50
    sidewinder          7      50

    Set value for an entire column

    >>> df.loc[:, 'max_speed'] = 30
    >>> df
                max_speed  shield
    cobra              30      10
    viper              30      50
    sidewinder         30      50

    Set value for rows matching callable condition

    >>> df.loc[df['shield'] > 35] = 0
    >>> df
                max_speed  shield
    cobra              30      10
    viper               0       0
    sidewinder          0       0

    Add value matching location

    >>> df.loc["viper", "shield"] += 5
    >>> df
                max_speed  shield
    cobra              30      10
    viper               0       5
    sidewinder          0       0

    Setting using a ``Series`` or a ``DataFrame`` sets the values matching the
    index labels, not the index positions.

    >>> shuffled_df = df.loc[["viper", "cobra", "sidewinder"]]
    >>> df.loc[:] += shuffled_df
    >>> df
                max_speed  shield
    cobra              60      20
    viper               0      10
    sidewinder          0       0

    **Getting values on a DataFrame with an index that has integer labels**

    Another example using integers for the index

    >>> df = pd.DataFrame([[1, 2], [4, 5], [7, 8]],
    ...      index=[7, 8, 9], columns=['max_speed', 'shield'])
    >>> df
       max_speed  shield
    7          1       2
    8          4       5
    9          7       8

    Slice with integer labels for rows. As mentioned above, note that both
    the start and stop of the slice are included.

    >>> df.loc[7:9]
       max_speed  shield
    7          1       2
    8          4       5
    9          7       8

    **Getting values with a MultiIndex**

    A number of examples using a DataFrame with a MultiIndex

    >>> tuples = [
    ...    ('cobra', 'mark i'), ('cobra', 'mark ii'),
    ...    ('sidewinder', 'mark i'), ('sidewinder', 'mark ii'),
    ...    ('viper', 'mark ii'), ('viper', 'mark iii')
    ... ]
    >>> index = pd.MultiIndex.from_tuples(tuples)
    >>> values = [[12, 2], [0, 4], [10, 20],
    ...         [1, 4], [7, 1], [16, 36]]
    >>> df = pd.DataFrame(values, columns=['max_speed', 'shield'], index=index)
    >>> df
                         max_speed  shield
    cobra      mark i           12       2
               mark ii           0       4
    sidewinder mark i           10      20
               mark ii           1       4
    viper      mark ii           7       1
               mark iii         16      36

    Single label. Note this returns a DataFrame with a single index.

    >>> df.loc['cobra']
             max_speed  shield
    mark i          12       2
    mark ii          0       4

    Single index tuple. Note this returns a Series.

    >>> df.loc[('cobra', 'mark ii')]
    max_speed    0
    shield       4
    Name: (cobra, mark ii), dtype: int64

    Single label for row and column. Similar to passing in a tuple, this
    returns a Series.

    >>> df.loc['cobra', 'mark i']
    max_speed    12
    shield        2
    Name: (cobra, mark i), dtype: int64

    Single tuple. Note using ``[[]]`` returns a DataFrame.

    >>> df.loc[[('cobra', 'mark ii')]]
                   max_speed  shield
    cobra mark ii          0       4

    Single tuple for the index with a single label for the column

    >>> df.loc[('cobra', 'mark i'), 'shield']
    2

    Slice from index tuple to single label

    >>> df.loc[('cobra', 'mark i'):'viper']
                         max_speed  shield
    cobra      mark i           12       2
               mark ii           0       4
    sidewinder mark i           10      20
               mark ii           1       4
    viper      mark ii           7       1
               mark iii         16      36

    Slice from index tuple to index tuple

    >>> df.loc[('cobra', 'mark i'):('viper', 'mark ii')]
                        max_speed  shield
    cobra      mark i          12       2
               mark ii          0       4
    sidewinder mark i          10      20
               mark ii          1       4
    viper      mark ii          7       1

    Please see the :ref:`user guide<advanced.advanced_hierarchical>`
    for more details and explanations of advanced indexing.