<a href="https://colab.research.google.com/github/shilphypg/MAHE_MSc.DS/blob/master/R_DataTypes_DataStructures.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Everything in R is an object
Basic datatypes in R
1. Character
2. Numeric(real or decimal)
3. Integer
4. Logical
5. Complex

In [ ]:
#create an R object
my_obj=48

In [ ]:
my_char='a'
print(my_char)

[1] "a"

In [1]:
my_int=10L
print(my_int)

[1] 10

In [4]:
my_int=10L
print(my_int)

my_numeric=10
print(my_numeric)

my_logic=TRUE
print(my_logic)

[1] 10
[1] 10
[1] TRUE

Data structures in R
1. Atomic Vector
2. List
3. Matrix
4. Dataframe
5. Factor


ATOMIC VECTOR DATA STRUCTURE is a collection of object having same data types

In [20]:
#create a vector
my_vec1=c(1L,2L,3L)
my_vec2=1:3
my_vec3=seq(from=1,to=10,by=2) #seq function generates a floating point values
print(my_vec1)
print(my_vec2)
print(my_vec3)

#functions on objects
length(my_vec1)
class(my_vec1)
class(my_vec2)
class(my_vec3)
typeof(my_vec3)
typeof(my_vec2)
str(my_vec3)

#access elements of a vector
my_vec1[1]

#modify elements of a vector
my_vec1[1]=10
print(my_vec1)

#inbuilt functions on a vector

#missing data
my_vec4=c(1,2,NA,4)
print(my_vec4)
is.na(my_vec4)
anyNA(my_vec4) #any missing values


#special values
1/0
0/0

[1] 1 2 3
[1] 1 2 3
[1] 1 3 5 7 9

[1] 3

[1] "integer"

[1] "integer"

[1] "numeric"

[1] "double"

[1] "integer"

 num [1:5] 1 3 5 7 9

[1] 1

[1] 10  2  3
[1]  1  2 NA  4

[1] FALSE FALSE  TRUE FALSE

[1] TRUE

[1] Inf

[1] NaN

LIST DATA STRUCTURE very similar to a vector like collection of simple objects but they can be of different data types

In [23]:
my_list1=list(5)
print(my_list1)


#create a list with values
my_list2=list(1, 'serah', c('a','b','c'))
print(my_list2)


#assign names to the slot of list
names(my_list2)=c('first', 'second', 'third')
str(my_list2)


#access elements of a list
my_list2[3]
my_list2$first

#modify the elements of a list
my_list2[1]=10
print(my_list2)

[[1]]
[1] 5

[[1]]
[1] 1

[[2]]
[1] "serah"

[[3]]
[1] "a" "b" "c"

List of 3
 $ first : num 1
 $ second: chr "serah"
 $ third : chr [1:3] "a" "b" "c"

$third
[1] "a" "b" "c"

[1] 1

$first
[1] 10

$second
[1] "serah"

$third
[1] "a" "b" "c"

MATRIX DATA STRUCTURE is a tabular arrangement of objects of same data type.same as atomic vector but it can be one or two dimections

In [24]:
#create a matrix
my_matrix1=matrix(c(1,2,3,4,5,6), nrow = 3, ncol =2)
print(my_matrix1)

my_matrix2=matrix(c(1 ,2 ,3 ,4 ,5 ,6 ), nrow=2, ncol=3, byrow= TRUE)
print(my_matrix2)


#assign names to rows and columns
rownames(my_matrix2)=c('row1','row2')
colnames(my_matrix2)=c('col1','col2','col3')
str(my_matrix2)

     [,1] [,2]
[1,]    1    4
[2,]    2    5
[3,]    3    6
     [,1] [,2] [,3]
[1,]    1    2    3
[2,]    4    5    6
 num [1:2, 1:3] 1 4 2 5 3 6
 - attr(*, "dimnames")=List of 2
  ..$ : chr [1:2] "row1" "row2"
  ..$ : chr [1:3] "col1" "col2" "col3"

A Data Frame is a list with each sublist of same length; think of it as a rectangular list.A data frame is typically used to store data that are read from text/CSV files by retaining the underlying structures such as row names,column names etc. A data frame can also be created manually.

In [26]:
#create a dataframe manually
ID=c('A','B','C')
Age=c(21,22,20)
Height=c(150,160,170)
sData=data.frame(ID,Age,Height)

#Assign names to the rows and columns of the data frame
rownames(sData)=c('Ajith','John','Bob')
colnames(sData)=c('ID','Age','Height')

In-built functions on dataframe

In [34]:
#structure of the data frame
str(sData)

#Print 1st five rows
head(sData)

#print last five rows
tail(sData)

#get the dimention of the dataframe
dim(sData)

#get the rows of the data frame
nrow(sData)

#get the columns of the data frame
ncol(sData)

'data.frame':	3 obs. of  3 variables:
 $ ID    : chr  "A" "B" "C"
 $ Age   : num  21 22 20
 $ Height: num  150 160 170

      ID Age Height
Ajith A  21  150
John  B  22  160
Bob   C  20  170

      ID Age Height
Ajith A  21  150
John  B  22  160
Bob   C  20  170

[1] 3 3

[1] 3

[1] 3

Accessing elements of a dataframe

In [43]:
#Access a particular column
sData$Age
sData[['Age']]
sData['Age']

#Access a particular row
sData['John', ]
sData['Bob', ]
sData['Ajith', ]

#Access multiple columns
sData[c('ID','Age')]

[1] 21 22 20

[1] 21 22 20

      Age
Ajith 21
John  22
Bob   20

     ID Age Height
John B  22  160

    ID Age Height
Bob C  20  170

      ID Age Height
Ajith A  21  150

      ID Age
Ajith A  21
John  B  22
Bob   C  20

A factor data structure is a vector that can contain only predefined values, and is used to store categorical data

In [46]:
# Craete a factor for storing a list of genders
gender=factor(c('Male','Male','Female','Female'))
print(gender)

#In-built functions on factors
levels(gender)

#Modify a gender
gender[1]='Female'
print(gender)

[1] Male   Male   Female Female
Levels: Female Male

[1] "Female" "Male"

[1] Female Male   Female Female
Levels: Female Male